<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-3">Iniciar Sesión</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" formControlName="password" class="form-control" />
      </div>
      <button class="btn btn-primary w-100" type="submit">Entrar</button>
    </form>
    <div class="text-center mt-3">
      <a routerLink="/register">¿No tienes cuenta? <button class="btn" (click)="register()" >Regístrate</button></a>
    </div>
  </div>
</div>
